# PostgreSQL
PG_USER=admin
PG_PASSWORD=admin

# Konga
KONGA_TOKEN_SECRET=change_this_token_secret

# External Python application repository path
# Linux/macOS example:
APP_PATH=../external-python-app

# Windows example:
# APP_PATH=D:/projects/external-python-app
