# PostgreSQL
PG_USER=admin
PG_PASSWORD=admin
PG_DATABASE=app_db

# MySQL
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=app_db
MYSQL_USER=app_user
MYSQL_PASSWORD=app_password

# Konga
KONGA_TOKEN_SECRET=change_this_token_secret

# External Python application repository path
# Linux/macOS example:
APP_PATH=../external-python-app

# Windows example:
# APP_PATH=D:/projects/external-python-app
